* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  background-color: #e2eaf5;
}
body {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.app-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 100px;
  padding: 40px;
}

.navegation {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navegation img {
  margin-right: 20px;
}
.navegation input {
  border: none;
  border-radius: 15px;
  background-color: #fdfffe;
  color: #232323;
  width: 100%;
  padding: 16px;
}
.navegation input:focus {
  outline: 2px solid #3aa2ff;
}
.navegation input::placeholder {
  color: #b1b8c0;
}
.showcase-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  padding-left: 40px;
  padding-right: 40px;
}
.showcase-container .showcase-text h2:first-child {
  color: rgba(42, 57, 79, 1);
  font-weight: 700;
  font-size: 3.125rem;
}
.showcase-container .showcase-text p {
  color: #9aa0a8;
  font-weight: 500;
  margin-bottom: 20px;
}
.showcase-container .showcase-text h2:last-child {
  color: rgba(42, 57, 79, 1);
  font-weight: 700;
  font-size: 4rem;
}
.hourly-forecast-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border: none;
  border-radius: 40px;
  background-color: rgba(0, 125, 254, 1);
}
.hourly-forecast-container .hour-weath-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.hourly-forecast-container .hour-weath-item img {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
}
.hourly-forecast-container .hour-weath-item p:first-child {
  color: #fff;
  opacity: 75%;
  font-weight: 500;
}
.hourly-forecast-container .hour-weath-item p:last-child {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
}
.weather-details-container {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  margin-top: 40px;
}
.weather-details-container .weather-details-item {
  padding: 30px;
  text-align: center;
  background-color: #fdfffe;
  border: none;
  border-radius: 20px;
  margin-left: 20px;
}
.weather-details-container .weather-details-item p:first-child {
  color: #9aa0a8;
  font-size: 14px;
}
.weather-details-container .weather-details-item p:last-child {
  color: rgba(42, 57, 79, 1);
  font-size: 1.5rem;
  font-weight: 700;
}
.weather-details-container .weather-details-item span {
  font-size: 15px;
}
.weather-details-container .weather-details-item div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.weather-details-container .weather-details-item img {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}
.weekly-forecast-container {
  background-color: #fff;
  border-radius: 40px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.weekly-forecast-container .day-weather-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.weekly-forecast-container .day-weather-item p,
.weekly-forecast-container .day-weather-item img,
.weekly-forecast-container .day-weather-item div {
  flex: 1;
}

.weekly-forecast-container .day-weather-item p:first-child {
  font-weight: 500;
  color: #8f8f8f;
}
.weekly-forecast-container .day-weather-item img {
  width: 60px;
  height: 60px;
}
.weekly-forecast-container .day-weather-item div {
  display: flex;
  align-items: center;
}
.weekly-forecast-container .day-weather-item div p:first-child {
  color: #2a394f;
  font-weight: 500;
  margin-right: 8px;
}
.weekly-forecast-container .day-weather-item div p:last-child {
  color: #8f8f8f;
  font-weight: 500;
}
